/* 
    Created on : 16 oct. 2014, 16:10:14
    Author     : Kevin
*/
$blueprint-grid-columns : 12;
$blueprint-grid-width   : 30px;
$blueprint-grid-margin  : 10px;
$font-color             : #333;

@import "compass/reset";
@import "compass/utilities";
@import "blueprint";
