/* line 5, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_typo.scss */
body {
  font: normal 1em/1.4 Arial, sans-serif;
}

/* line 4, ../sass/_typo.scss */
a {
  color: #19A4E8;
}

/* line 1, ../sass/_layout.scss */
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12 {
  float: left;
  margin-left: 5px;
  margin-right: 5px;
}

/* line 8, ../sass/_layout.scss */
.container {
  margin: 0 auto;
  width: 960px;
}

/* line 13, ../sass/_layout.scss */
.span-1 {
  width: 70px;
}

/* line 13, ../sass/_layout.scss */
.span-2 {
  width: 150px;
}

/* line 13, ../sass/_layout.scss */
.span-3 {
  width: 230px;
}

/* line 13, ../sass/_layout.scss */
.span-4 {
  width: 310px;
}

/* line 13, ../sass/_layout.scss */
.span-5 {
  width: 390px;
}

/* line 13, ../sass/_layout.scss */
.span-6 {
  width: 470px;
}

/* line 13, ../sass/_layout.scss */
.span-7 {
  width: 550px;
}

/* line 13, ../sass/_layout.scss */
.span-8 {
  width: 630px;
}

/* line 13, ../sass/_layout.scss */
.span-9 {
  width: 710px;
}

/* line 13, ../sass/_layout.scss */
.span-10 {
  width: 790px;
}

/* line 13, ../sass/_layout.scss */
.span-11 {
  width: 870px;
}

/* line 13, ../sass/_layout.scss */
.span-12 {
  width: 950px;
}
